* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Teko", sans-serif;
  font-size: 16px;
  color: #444444;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.main-header {
  text-align: center;
}
.main-header .nav-header ul {
  display: flex;
  justify-content: center;
}
.main-header .nav-header ul li {
  font-size: 24px;
  font-weight: 300;
}
.main-header .nav-header ul li a {
  display: block;
  padding: 10px;
  color: #444444;
}
.main-header .nav-header ul li a.active, .main-header .nav-header ul li a:hover {
  background-color: #B3E5FC;
}

footer {
  padding: 40px 0 50px;
  background-image: url("../images/footer-montagne-bottom.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  color: #808080;
}
footer a {
  color: #808080;
}
footer .container {
  display: flex;
  justify-content: space-between;
}
footer .container .menu-footer {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
footer .container .menu-footer .link-menu {
  margin-bottom: 20px;
}
footer .container .menu-footer .link-menu h3 {
  font-size: 25px;
  font-weight: 500;
}
footer .container .menu-footer .break-col {
  height: 100%;
}

.main-content {
  background-image: url("../images/fondo-pag-speciali.jpg");
  padding: 40px 0 30px;
}

.type.container h2 {
  color: #002d73;
  font-size: 40px;
  font-weight: 400;
}

.cards {
  margin-right: -10px;
  display: flex;
  flex-wrap: wrap;
}
.cards .card {
  flex-basis: calc(100% / 3 - 10px);
  margin-right: 10px;
}