.main-content {
    background-image: url('../images/fondo-pag-speciali.jpg');
    padding: 40px 0 30px;
}

.type.container h2 {
    color: $title-col;
    font-size: 40px;
    font-weight: 400;
}

.cards {
    margin-right: -10px;
    display: flex;
    flex-wrap: wrap;
    .card {
        flex-basis: calc(100% / 3 - 10px);
        margin-right: 10px;
    }
}