footer {
    padding: 40px 0 50px;
    background-image: url('../images/footer-montagne-bottom.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    color: $footer-col;
    a {
        color: $footer-col;
    }
    .container {
        display: flex;
        justify-content: space-between;
        .menu-footer {
            flex-basis: 60%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            .link-menu {
                margin-bottom: 20px;
                h3 {
                    font-size: 25px;
                    font-weight: 500;
                }
            }
            .break-col {
                height: 100%;
            }
        }
    }
}